<table class="table table-striped">
  <thead>
      <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Image</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let users of user">
          <td>
              <h5>{{ user.name }}</h5>
          </td>
          <td>
              <h5>{{ user.email }}</h5>
          </td>
          <td>
              <img style="width: 100px;" [src]="user.File" alt="File Image" class="img-thumbnail" />
          </td>
          <td>
              <button class="btn btn-primary">Edit</button>
              <button class="btn btn-primary">Delete</button>
          </td>
      </tr>
  </tbody>
</table>

<!-- <ul *ngFor="let users of user">
    <li>{{users.name}}</li>
  
  </ul>

  <table mat-table *ngFor="let users of user"class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let users"> {{user.name}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="llet users"> {{user.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let users"> {{user.password}} </td>
    </ng-container>
  
  

  </table> -->
